# Ignorer environnement virtuel
.env_fedmo/

# Ignorer les données téléchargées
Download_data/
physionet.org/
wanb/

# Ignorer les logs wget
wget-log
patient_url3.txt
patient_urls4.txt
patient_urls2.txt
patient_urls.txt